@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-weight: 700px;
  font-size: 22px;
  letter-spacing: -0.5px; }

p {
  text-align: left;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 300; }

a {
  color: inherit;
  text-decoration: inherit; }

li {
  list-style: none; }

.logo {
  font-weight: 700px;
  font-size: 22px;
  color: white; }

.menu img {
  height: 22px; }

.day {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -0.5px; }

.fadein {
  -webkit-animation: fadein .7s ease 0s forwards; }

.fadeout {
  -webkit-animation: fadeout .7s ease 0s forwards; }

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15)), url("img/bg0.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%; }

.page {
  margin: 3%;
  display: flex;
  flex-direction: column;
  text-align: center; }

.challenge {
  margin-top: 70px;
  text-align: center; }

.text_area {
  margin: 6%; }

.message {
  position: absolute;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 42px;
  bottom: 0;
  margin-left: auto;
  left: 0;
  right: 0; }

.button-cta {
  position: absolute;
  margin-bottom: 65px;
  bottom: 0;
  margin-left: auto;
  left: 0;
  right: 0; }

button {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 13px; }

.new {
  width: 185px;
  height: 38px;
  border-radius: 26px;
  background-color: #27BDFF;
  border: solid 2px #27BDFF; }

.links {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4; }

.links .link {
  cursor: pointer; }

.accepted {
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.65);
  width: 178px;
  height: 38px;
  border-radius: 26px;
  border: none;
  background-color: rgba(255, 255, 255, 0.35); }

.journal {
  text-align: center; }

.note1 {
  width: 100%;
  margin: 0 auto;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.85); }

.note {
  width: 90%;
  min-height: 200px;
  border-radius: 4px;
  background-color: rgba(37, 37, 37, 0.4); }

.note h1 {
  font-size: 15px; }

.note p {
  padding: 18px;
  font-size: 15px; }

.navbar {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center; }

.navbar .day {
  position: absolute;
  left: 3%; }

.navbar .menu {
  position: absolute;
  right: 3%; }

.navbar .logo {
  display: inline-block;
  margin: 0 auto; }

@media (min-width: 1024px) {
  .page {
    margin: 5% 28%; } }

@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff"); }

/** Thin */
@font-face {
  font-family: "San Francisco Light";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff"); }

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"); }

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff"); }

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff"); }

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff"); }
